<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>API</title>
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
      </head>
</head>
<body>
    <nav>
        <div class="container mx-auto px-6 py-2 flex justify-between items-center">
          <a href = "swasthikshetty10.github.io" class="font-bold text-2xl lg:text-2xl" href="#">
            swasthikshetty10.github.io
          </a>
          <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none">
              <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
              </svg>
            </button>
          </div>
          <div class="hidden lg:block">
            <ul class="inline-flex">
              <li><a class="px-4 font-bold" href="/">Home</a></li>
              <li><a class="px-4 hover:text-gray-800" href="https://github.com/swasthikshetty10/Personal-Blog-Backend">Github</a></li>
              <li><a class="px-4 hover:text-gray-800" href="/admin">Admin</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="py-20" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"
>
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold mb-2 text-white">
      welcome to Restful API
    </h2>
    <h3 class="text-2xl mb-8 text-gray-200">
      Django Rest API for swasthikshetty10.github.io
    </h3>

    <a href = "/api" class="bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
      API
    </a>
  </div>
</div>
</body>
</html>